* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.cart {
    min-height: 90vh;
    height: fit-content;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.cartDiv {
    /* border: 2px solid red; */
    height: 100%;
}

.catalogue {
    /* border: 2px solid red; */
    height: 100%;
    margin-right: 2rem;
    box-shadow: 3px 3px 8px rgb(231 228 228), -3px -3px 8px rgb(231 228 228);
}

.singleItem {
    height: 100%;
    padding: 2rem 0rem;
    border-bottom: 1px solid rgb(210, 206, 206);
    cursor: pointer;
}

.emptyCart {
    /* height: 59rem; */
    padding: 4rem;
    height: 59rem;
    padding: 4rem;
    box-shadow: none;
    background: #CED4CA;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyCart img {
    width: 45%;
    border-radius: 50%;
    display: block;
    margin: auto;
    z-index: 100;
    overflow: visible;
}

.emptyCart h1 {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.emptyCart button {
    font-size: 2rem;
    display: block;
    margin: auto;
}


.cartInfo img {
    height: 87%;
    width: 53%;
    display: block;
    margin: auto;
}

.removeIcon,
.addIcon {
    border: 1px solid grey;
    border-radius: 50%;
}

.deleteIcon {
    float: right;
    transform: scale(1.6);
}

.figure {
    border: 1px solid grey;
    padding: 0rem 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.totalPrice {
    /* border: 2px solid red; */
    height: 48%;
    box-shadow: 3px 3px 8px rgb(231 228 228), -3px -3px 8px rgb(231 228 228);
}

#head {
    border-bottom: 1px solid rgb(210, 206, 206);
}

.priceSec {
    /* border: 2px solid red; */
    padding: 1.2rem 0.5rem;
}

.warningDiv {
    height: 70vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning {
    font-size: 4rem;
    font-weight: bold;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    .warning {
        font-size: 3.5rem;
        text-align: center;
    }

    .catalogue {
        margin-right: 0;
    }

    .cartInfo img {
        height: 85%;
        width: 85%;
    }

    .totalPrice {
        margin-top: 4rem;
    }

    .emptyCart {
        height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .catalogue {
        margin-right: 0;
    }

    .cartInfo img {
        height: 85%;
        width: 85%;
    }

    .totalPrice {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .cartInfo img {
        height: 85%;
        width: 80%;
    }
}