* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.loginSec {
    height: 100vh;
}

.loginDiv {
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CED4CA;
}

.loginFormDiv {
    /* border: 2px solid black; */
    background: white;
    height: 65%;
    width: 28%;
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
}

.loginFormDiv label {
    margin: 1rem 0rem;
}

.loginFormDiv input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: #CED4CA;
    border: none;
    /* border-bottom: 2px solid green; */
    outline: none;
}

.visibilityIcon {
    position: absolute;
    top: 17.6rem;
    right: 5rem;
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.5;
}

.vIcon {
    position: absolute;
    top: 26.6rem;
    right: 5rem;
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.5;
}

.errorMsg {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.loginPageBtn {
    font-size: 1.7rem;
    padding: 0.7rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.not_has_account button {
    background: white;
    font-size: 1.7rem;
    font-weight: 500;
    /* text-decoration: underline; */
}