.errorDiv {
    /* border: 2px solid red; */
    margin-top: 10rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/error.jpg);
    /* background-position: 80rem 3rem; */
    background-position: 90% 0%;
    background-repeat: no-repeat;
    background-size: contain;
}

.page_not_found {
    /* border: 2px solid red; */
    color: #46B5D2;
}

.page_not_found .second {
    font-size: 9rem;
}

.page_not_found .row {
    width: 23em;
}

.errorBtn {
    color: #46B5D2;
    padding: 0.8rem 0rem;
    border: 2px solid #46B5D2;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    margin-top: 4rem;
    transition: .2 ease;
}

.errorBtn:hover {
    background-color: #46B5D2 !important;
    transform: scale(1.1);
    color: white !important;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {

    .errorDiv {
        background-image: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .head-1 {
        font-size: 6rem;
    }

    .head-3 {
        font-size: 5rem;
    }

    .errorDiv {
        background-position: right;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .head-1 {
        font-size: 6rem;
    }

    .head-3 {
        font-size: 5rem;
    }
}