.itemDetails {
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.imageDiv {
  display: flex;
  gap: 2rem;
}

.sideImgDiv {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sideImgDiv img {
  width: 100%;
  cursor: pointer;
}

.mainImgDiv {
  height: 100%;
  width: 80%;
}

.mainImgDiv img {
  width: 100%;
}

.imageSec button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.infoDiv {
  height: 80%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoDiv p {
  font-size: 3rem;
}

.discount {
  color: #23a923;
}

.rating {
  width: 3.2em;
  background: #23a923;
  padding: 0.2rem 0rem;
  text-align: center;
  color: white;
  border-radius: 2rem;
}

#aboutInfo {
  height: 85%;
}

.labelIcon {
  transform: scale(1.3);
  color: #23a923;
}

.info select {
  font-size: 1.7rem;
  margin-top: 1rem;
  width: 50%;
  padding: 0.6rem 2rem;
}

.removeIcon,
.addIcon {
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.figure {
  border: 1px solid grey;
  padding: 0rem 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  .itemDetails {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
