.container-slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  /* border: 2px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 101vw;
  height: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  background-color: #b98f77;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide:nth-child(1) {
  background: url("../../images/slide-1.png"), #b98f77;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65% 100%;
}

.slide:nth-child(2) {
  background: url("../../images/slide-5.png"), #b98f77;
  background-position: 78rem 0rem;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

.slide:nth-child(3) {
  background: url("../../images/shoe5.png"), #b98f77;
  background-position: 43rem -7rem;
  background-repeat: no-repeat;
  background-size: 69% 115%;
}

.slide:nth-child(4) {
  background: url("../../images/slide-4.png"), #b98f77;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65% 100%;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 7rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 9rem;
}

.homeBtn {
  text-decoration: none;
  color: #a8846f;
  background: white;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 4rem;
}

.homeBtn:hover {
  border: 2px solid white;
  color: white;
  background: transparent;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.sections {
  /* border: 2px solid red; */
  min-height: 42rem;
  margin-bottom: -10rem;
}

.sections_subDiv {
  height: 42rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_home {
  /* border: 2px solid red; */
  color: white;
  height: 27rem;
  width: 28%;
  margin: 2rem;
  position: relative;
}

.card_heading {
  margin: 3rem 2rem;
}

.shop_btn {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: white;
  transition: 0.3s ease;
}

.shop_btn:hover {
  color: white;
  transform: scale(1.2);
}

.men {
  background-image: url("../../images/men8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.women {
  background-image: url("../../images/woman7.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accessories {
  background-image: url("../../images/shoe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  .sections_subDiv {
    height: 88rem;
    flex-direction: column;
  }

  .title {
    font-size: 4.5rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .slide:nth-child(1) {
    background-size: 900px 700px;
    background-position: 75% 0%;
  }

  .slide:nth-child(2) {
    background-position: 0rem 0rem;
    background-size: 900px 700px;
  }

  .slide:nth-child(3) {
    background-position: -8rem -2rem;
    background-size: 635px 680px;
  }

  .slide:nth-child(4) {
    background-position: 70% 0%;
    background-size: 900px 700px;
  }

  .btn-slide {
    background: transparent;
    border: 1px solid transparent;
    color: white;
  }

  .prev {
    left: -5px;
  }

  .next {
    right: -5px;
  }

  .btn-slide i {
    font-size: 3rem;
  }

  .card_home {
    width: 20em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .sections_subDiv {
    height: 88rem;
    flex-direction: column;
  }

  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .slide:nth-child(1) {
    background-size: 900px 700px;
    background-position: -10rem 0rem;
  }

  .slide:nth-child(2) {
    background-position: 12rem 0rem;
    background-size: 900px 700px;
  }

  .slide:nth-child(3) {
    background-position: 15rem -4rem;
    background-size: 91% 111%;
  }

  .slide:nth-child(4) {
    background-position: 48% 0%;
    background-size: 900px 700px;
  }

  .btn-slide {
    width: 45px;
    height: 45px;
  }

  .card_home {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 6rem;
  }

  .slide:nth-child(1) {
    /* background-size: 100% 100%; */
    background-size: 900px 700px;
  }

  .slide:nth-child(2) {
    background-position: 28rem 0rem;
    background-size: 900px 700px;
  }

  .slide:nth-child(3) {
    background-position: 26rem -4rem;
    background-size: 80% 111%;
  }

  .slide:nth-child(4) {
    /* background-size: 90% 100%; */
    background-size: 900px 700px;
    background-position: 90% 0%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .slide:nth-child(1) {
    background-size: 900px 700px;
  }

  .slide:nth-child(2) {
    background-position: 55rem 0rem;
    background-size: 900px 700px;
  }

  .slide:nth-child(4) {
    background-size: 900px 700px;
    /* background-position: 90% 0%; */
  }
}
