.contact {
    min-height: 78rem;
    background: rgb(151 151 151);
}

.contactDiv {
    /* border: 2px solid red; */
    color: white;
    height: 41rem;
    background-image:
        url('../../images/contact1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.contactDiv h1 {
    font-size: 4.5rem;
}

#formDiv {
    height: 60rem;
}

.form {
    /* border: 2px solid red; */
    height: 80%;
    width: 29%;
    padding-right: 0rem;
}

.errorMsg {
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.form input,
.form textarea {
    width: 100%;
    font-size: 1.7rem;
    padding: 1.2rem 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.notifyError {
    border: 2px solid red !important;
}

.form button {
    width: 98%;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    margin-top: 5rem;
    border-radius: 4rem;
    transition: 0.5s;
}

.form button:hover {
    /* transform: scale(1.05); */
    background-position: right center;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {

    html {
        font-size: 50%;
    }

    .form {
        width: 20em;
    }

    .contactDiv {
        height: 30rem;
    }

    .form button {
        width: 93%;
        padding: 1rem 2rem;
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .form {
        width: 40%;
    }

    .contactDiv {
        height: 35rem;
    }

}